{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block title %}
<h1 class="fw-light">{{ title }}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card shadow-sm">
                <img src="{{object.image | mymedia}}" class="card-img-top" alt="{{object.product_name}}">
                <div class="card-body">
                    <h3 class="card-title">{{object.product_name}}</h3>
                    <p class="card-text"><br>
                        Принт: {{object.category}}<br>
                        Характеристики: {{object.product_description|slice:100}}<br>
                        Стоимость: {{object.price}} руб<br>
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-primary"
                               href="{% url 'catalog:product_list' %}" role="button">К товарам</a>
                            <a class="btn btn-info"
                               href="{% url 'catalog:index' %}" role="button">Главная</a>
                            <a class="btn btn-warning"
                               href="{% url 'catalog:product_update' object.pk %}" role="button">Редактировать</a>
                            <a class="btn btn-danger"
                               href="{% url 'catalog:product_delete' object.pk %}" role="button">Удалить</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}